body {
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  font-size: xx-large;
}

h2,
h3 {
  margin: 0;
  margin-bottom: 0.25em;
}

.navBarTop {
  background-color: red;
  width: 100%;
  right: 0;
  justify-content: right;
  display: flex;
  padding: 0%;
}

.navBarBody {
  background-color: white;
}

.footer {
  bottom: 0;
  width: 100%;
  padding: 3% 1%;
  background-color: red;
  color: white;
}
