body {
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  font-size: xx-large;
}

h2,
h3 {
  margin: 0;
  margin-bottom: 0.25em;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 2em 5em;
  background-color: red;
  color: white;
}
