html,
body {
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
  font-size: xx-large;
}

h2,
h3 {
  margin: 0;
  margin-bottom: 0.25em;
}

p {
  font-size: large;
}

.navBarTop {
  background-color: red;
  width: 100%;
  right: 0;
  justify-content: right;
  display: flex;
  padding: 0.25em;
}

.navBarBody {
  background-color: white;
}

#footer {
  width: 100%;
  padding: 1.25% 0;
  background-color: red;
  color: white;
  justify-content: center;
  position: fixed;
  bottom: 0;
}

@media screen and (max-width: 345px) {
  #footer {
    position: relative;
  }
}
